* {
    background-color: #f4ecdf;
    font-family: cooper, sans-serif;
    scroll-behavior: smooth;
    color: #37470c;
}

h1{
    text-align: center;
    font-size: 60px;
    padding-top: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

h2{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    animation: floatText 3s ease-in-out infinite;
}

span{
    color: #37470c;
}

p{
    text-align: left;
    font-size: 25px;
    margin-left: 50px;
    padding: 5px;
    font-weight: 500;
}

@keyframes floatText{
    0% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1rem);
    }

    100%{
        transform: translateY(0);
    }
}

#pick{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}


#geographyImage,
#architectureImage {
    width: 260px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000;
}

#physicsImage{
    width: 290px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000;
    object-fit: cover;
}

#submitButton2{
    width: 250px;
    height: auto;
    margin-top: -15px;
    background-color: darkgreen;
}

#submitButton{
    width: 250px;
    height: auto;
    margin-top: -15px;
    background-color: lightblue;
}

#submitButton3{
    width: 250px;
    height: auto;
    margin-top: -15px;
    background-color: lightcoral;
}

.geographyCard,
.physicsCard,
.architectureCard {
    text-align: center;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: darkgreen;
}

.physicsCard{
    background-color: lightblue;
}

.architectureCard{
    background-color: lightcoral;
}

.geographyCard input,
.geographyCard textarea,
.physicsCard input,
.physicsCard textarea,
.architectureCard input,
.architectureCard textarea {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.selection{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 100px;
    padding: 20px;
}

/* Style for the form to align radio buttons vertically */
.quiz-question {
    display: flex;
    flex-direction: column; /* Align items in a column */
    margin-bottom: 20px;   /* Space between questions */
}

.quiz-question label {
    margin-bottom: 10px; /* Space between each label */
}

button{
    padding: 2rem 3.5rem;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0ef;
    font-size: 1.2rem;
    color: #323946;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    display: inline-block;
}

button:hover{
    box-shadow: none;
}

.btn{
    margin-left: 38%;
    margin-top: 100px;
    padding: 2rem 3rem;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 3rem #000000;
    font-size: 1.2rem;
    color: #323946;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    display: inline-block;
}

.btn:hover{
    box-shadow: none;
}



